@model Catagory;
@{
    ViewData["Title"] = "Edit Category";
}

@* Check for success message and display alert *@
@if (TempData["Message"] != null)
{
    <div class="alert @TempData["Class"] alert-dismissible fade show opacity-75" role="alert" id="Myalert"
    style="display:block; position:absolute; width: max-content">
    @TempData["Message"]
</div>
}

<form asp-controller="Category" asp-action="CreateCategory" method="post" class="w-100 bg-secondary p-5"
    style="border-radius: 20px;">
    <h2 class="text-light">Edit Category</h2>
    <hr>
    <div class="w-50 container justify-content-center ">
        <div class="d-flex justify-content-center m-2">
            <label asp-for="@Model.Name" class="label w-25 text-light">Name</label>
            <input asp-for="@Model.Name" value="@Model.Name" class="form-control" required
                placeholder="Enter Category Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-center m-2">
            <label asp-for="@Model.DisplayOrder" class="label w-25 text-light">Display Order</label>
            <input asp-for="@Model.DisplayOrder" value="@Model.DisplayOrder" type="number" class="form-control"
                placeholder="Enter Order Number">
            <span asp-validation-for="@Model.DisplayOrder" class="text-danger"></span>
        </div>
        @* this is use to add full summery of any error of validation of wanted. the inline valiadtinos
        asp-validation-for and asp-validation-summary both are alternative to each other*@
        @* <div asp-validation-summary="All"></div> *@

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-1">Update Category</button>
            <a asp-controller="Category" asp-action="IndexCategory" class="btn btn-primary m-1">Back to
                Category List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}